<div class="container">
    <h1 class="title has-text-centered has-text-white">Página Mockup - Despacho y Pago</h1>

    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle has-text-white">Información de Envío</h2>
                <form>
                    <div class="field">
                        <label class="label has-text-white">Nombre</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Dirección</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Ciudad</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Ciudad">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Código Postal</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Código Postal">
                        </div>
                    </div>
                </form>
            </div>

            <div class="box">
                <h2 class="subtitle">Información de Pago</h2>
                <form>
                    <div class="field">
                        <label class="label">Número de Tarjeta</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Número de Tarjeta">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Fecha de Vencimiento</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Fecha de Vencimiento">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Código de Seguridad</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Código de Seguridad">
                        </div>
                    </div>
                </form>
            </div>

            <div class="has-text-centered">
                <button class="button is-primary">Realizar Pago</button>
            </div>
        </div>
    </div>
</div>